/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}

body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/* =============================================================================
   Links
   ========================================================================== */

a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: none;
}

/*
 * Improve readability when focused and hovered in all browsers: h5bp.com/h
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/*
 * Redeclare monospace font family: h5bp.com/j
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improve readability of pre-formatted text
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,
q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

/*
 * Position subscript and superscript content without affecting line-height: h5bp.com/k
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Indicate that 'label' will shift focus to the associated form element
 */

label {
    cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


/* =============================================================================
   Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */


.no-js .student{
  text-align: center;
}



* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  background: url("../img/fussel.png") repeat;
}

img{
    max-width: 100%;
    max-height: 100%;
}


#nav{
    list-style: none;
}


#container{
    margin: 0 auto;
    position: relative;
}

.item{
  
  position: relative;
  float: left;
  
  margin: 10px;

  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;

  z-index: 1;
}

.item-inner{
  width: 100%;
  height: 100%;
 

  -moz-transform-style: preserve-3d;
  -moz-transition: all 0.3s ease-in-out;


  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-in-out;
}

.item.focus .item-inner {
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.front{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.back{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  -moz-backface-visibility: hidden;
  -moz-transform: rotateY(180deg);

  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
}



.open{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: red;

    z-index: 3;

    background: url('../img/navigation.png') no-repeat -472px -185px;
}

.close{
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
    width: 41px;
    height: 41px;
    background-color: red;
     z-index: 3;
     background: url('../img/navigation.png') no-repeat -514px -185px;
}

.full .close{
    display: block;
}

.item.focus .open{
  display: block;
}

.active.focus .open{
    display: none;
}



.full .prev-student{
    display: block;
     z-index: 4;
}

.full .next-student{
    display: block;
    z-index: 4;
}


.prev-student{
 
  display: none;
  position: absolute;
  bottom: 30px;
  left: 40%;
}

.next-student{
  
  display: none;
  position: absolute;
  bottom: 30px;
  right: 40%;
}


.item h2{
  text-align: center;
  text-transform: uppercase;
}

.item h3{
  text-align: center;
  font-size: 16px;
}

#gallery{
  width: 0;
  height: 0;
   overflow: hidden;
  position: relative;
  
  width: 0px;
  height: 0px;
  margin: 0 auto;
}

#slide-wrapper{
 position: relative;
 left: 0;
}

.full .slide{
  display: table;
}

.slide{
  display: none;
  float: left;
  position: relative;
}



.slide-inner{
  display: block;
  padding: 2%;
  text-align: center;

}

.slide-inner.tablecell{
  display: table-cell;
  vertical-align: middle;
  padding: 2%;
  text-align: center;
}


.item:hover{
  -moz-transform: scale(1.05 );
}

.item{
  -moz-transition-property: transform, scale;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;

}

.student-portrait{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#ausstellung{
  -moz-erspective: 800px;
  height: 100%;
}

#ausstellung p{
  font-size: 50px;
  font-weight: bold;
}



/*-moz-transition: all 0.3s linear;
-moz-transform: rotate3d(0,0,1,45deg);*/

#ausstellung .box{
  width: 30%;
  font-weight: bold;
  text-align: center;
  padding: 20px;
 
 
}

#b1, #b3{
  position: relative;
  
/*  -moz-transform: rotate3d(0,0,1,90deg);*/
}

#b2{
  position: relative;
  
 /* -moz-transform: rotate3d(1,0,1,-90deg);*/
  
}

#b2:hover, #b3:hover{
  -moz-transform: rotate3d(1,0,1,0);
  -moz-transform: scale(2);
}

#b1:hover{
  -moz-transform: rotate3d(1,0,1,0);
   -moz-transform: scale(2);
}

.wrapper{
  width: 80%;
  margin: 0 auto;
}


section{
  margin-bottom: 100px;
}

/* ======================================================================== */
#title{
  height: 85%;
}
/* PARALLAX */
#parallax{
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.layer{
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -15%;
  margin-left: -15%;
}

#layer8{
  /*headline */
  margin-left: -33%;
}

#layer9{
  /*headline */
  margin-left: -9%;
  margin-top: -9%;
}

#layer10{
   /*gso hochschule */
  margin-left: -20%;
}

#layer-bg{
  top: 46%;
  left: 50%;
  margin-top: -22%;
  margin-left: -22%;
}

/* ======================================================================== */



/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}



@media only screen and (min-width: 960px) {
    /* Style adjustments for viewports that meet the condition */

    #home-link{
      z-index: 100000;
      position: fixed;
      top: 0; 
      left: 0;
      display: block;
      width: 95px;
      height: 95px;
      background: url("../img/navigation.png") 0 0 no-repeat;
    }

    #home-link:hover, #home-link.link-active{
      background-position: -225px 0px;
    }

    #ausstellung-link{
      z-index: 100000;
      position: fixed;
      top: 0; 
      right: 0;
      display: block;
      width: 95px;
      height: 95px;
      background: url("../img/navigation.png") -130px 0 no-repeat;
    }

    #ausstellung-link:hover, #ausstellung-link.link-active{
      background-position: -355px 0;
    }

    #absolventen-link{
      z-index: 100000;
      position: fixed;
      bottom: 0; 
      right: 0;
      display: block;
      width: 95px;
      height: 95px;
      background: url("../img/navigation.png") -130px -130px no-repeat;
    }

    #absolventen-link:hover, #absolventen-link.link-active {
      background-position: -355px -130px;
    }

    #sponsoren-link{
      z-index: 100000;
      position: fixed;
      bottom: 0; 
      left: 0;
      display: block;
      width: 95px;
      height: 95px;
      background: url("../img/navigation.png") 0 -130px no-repeat;
    }

    #sponsoren-link:hover, #sponsoren-link.link-active{
      background-position: -225px -130px;
    }

    #impressum-link{
      z-index: 100000;
      position: fixed;
      bottom: 50%; 
      right: 20px;
      display: block;
      width: 17px;
      height: 97px;
      margin-top: -75px;
      background: url("../img/navigation.png") -454px -128px no-repeat;
    }


    #impressum-link:hover, #impressum-link.link-active{
      background-position: -454px -1px;
    }


    #nav{
        list-style: none;
    }

}



@media screen and (max-width: 1454px) {
    #home-link{
      width: 65px;
      height: 65px;
      background: url("../img/navigation.png") -474px 0 no-repeat;
    }

     #home-link:hover, #home-link.link-active{
      background-position: -625px 0px;
    }

    #ausstellung-link{
       width: 65px;
      height: 65px;
      background: url("../img/navigation.png") -560px 0 no-repeat;
    }

     #ausstellung-link:hover, #ausstellung-link.link-active{
      background-position: -711px 0;
    }

    #absolventen-link{
      width: 65px;
      height: 65px;
      background: url("../img/navigation.png") -560px -85px no-repeat;
    }

     #absolventen-link:hover, #absolventen-link.link-active {
      background-position: -711px -85px;
    }

    #sponsoren-link{
      width: 65px;
      height: 65px;
      background: url("../img/navigation.png") -474px -85px no-repeat;
    }

    #sponsoren-link:hover, #sponsoren-link.link-active{
      background-position: -625px -85px;
    }

    #impressum-link{
      width: 65px;
      height: 65px;
      margin-top: -32px;
      background: url("../img/navigation.png") -782px -225px no-repeat;
    }
   #impressum-link:hover, #impressum-link.link-active{
      background-position: -782px -149px;
    }


}






/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */


}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
